<nav class="navbar navbar-expand-lg nave">
    <div class="container-fluid">
        <a class="navbar-brand" style="margin: auto 20px auto 20px;" href="#"><img src="../assets/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-weight:bold;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: auto 10px;">
                <li class="nav-item" style="text-align: center;">
                    <a class="nav-link active" aria-current="page" href="#"><img src="../assets/img/home.png" style="margin-right: 10px;">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: auto 10px;">
                <li class="nav-item" style="text-align: center;">
                    <a class="nav-link active" aria-current="page" href="#"><img src="../assets/img/Medical Doctor.png" style="margin-right: 10px;">Doctores</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: auto 10px;">
                <li class="nav-item" style="text-align: center;">
                    <a class="nav-link active" aria-current="page" href="#"><img src="../assets/img/Doctors Bag.png" style="margin-right: 10px;">Especialidades</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="margin: auto 10px auto auto;">
                <li class="nav-item" style="vertical-align:sub; text-align: center;">
                    <img src="../assets/img/usuario.png">
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="card1 bg-dark text-white">
    <img src="../assets/img/fotolanding.png" class="card-img" alt="...">
    <div class="card-img-overlay">
        <p class="card-text" style="font-weight: bold; font-size: 55px;">El mejor equipo de doctores de distintas áreas, listos para servirle.</p>
    </div>
</div>
<div style="margin: 30px 40px 20px 40px; ">
    <form class="container-fluid" style="display: inline-flex;">
        <input type="text" class="form-control buscar" id="BuscarId" aria-describedby="Buscar" placeholder="Buscar">
        <div class="dropdown" style="margin-left: 15px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Medicina General
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-item active" href="#">Dermatología</a></li>
                <li><a class="dropdown-item" href="#">Optometría</a></li>
                <li><a class="dropdown-item" href="#">Neurocirugía</a></li>
                <li><a class="dropdown-item" href="#">Psiquiatría</a></li>
                <li><a class="dropdown-item" href="#">Radiología</a></li>
            </ul>
        </div>
    </form>
</div>
<div style="color: #E63946; text-align: right; margin: 50px 40px 20px 40px;">
    <h2>Medicina General</h2>
    <hr>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 50px 50px 20px 50px;">
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/12201 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diana María Mendez Oyuela</h5>
                <p class="card-text">Teguciglapa,F.M</p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/10359 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Osman Eduardo Aguilar H.</h5>
                <p class="card-text">Tela,Atlantida</p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/12142 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Claudia Patricia Umaña David</h5>
                <p class="card-text">SPS,Cortes</p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
</div>
<div style="color: #E63946; text-align: right; margin: 50px 40px 20px 40px;">
    <h2>Dermatologia</h2>
    <hr>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 50px 50px 20px 50px;">
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/13370 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre</h5>
                <p class="card-text">Ubicación de atención </p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/12287 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre</h5>
                <p class="card-text">Ubicación de atención </p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/12246 1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre</h5>
                <p class="card-text">Ubicación de atención </p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
</div>
<div style="color: #E63946; text-align: right; margin: 50px 40px 20px 40px;">
    <h2>Optometria</h2>
    <hr>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 50px 50px 20px 50px;">
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/12564.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre</h5>
                <p class="card-text">Ubicación de atención </p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/12908.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre</h5>
                <p class="card-text">Ubicación de atención </p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="../assets/img/doctores/13103.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nombre</h5>
                <p class="card-text">Ubicación de atención </p>
            </div>
            <div style="text-align: center;">
                <button type="button" class="btn btn-link" style="color: #E63946;">Ver mas</button>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; margin: 50px 40px 20px 40px; ">
    <button type="button" class="btn btn-link" style="color: #E63946; font-weight: bolder;">Mostrar +</button>
    <hr>
</div>
<div style="margin: 30px 40px 20px 40px; ">
    <form class="container-fluid" style="display: inline-flex;">
        <input type="text" class="form-control buscar" id="BuscarId" aria-describedby="Buscar" placeholder="Buscar">
        <div class="dropdown" style="margin-left: 15px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Especialidades
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-item active" href="#">Dermatología</a></li>
                <li><a class="dropdown-item" href="#">Optometría</a></li>
                <li><a class="dropdown-item" href="#">Neurocirugía</a></li>
                <li><a class="dropdown-item" href="#">Psiquiatría</a></li>
                <li><a class="dropdown-item" href="#">Radiología</a></li>
            </ul>
        </div>
    </form>
</div>
<div style="text-align: left; margin: 50px 40px 20px 40px; ">
    <h5 type="button" style="color: #E63946; font-weight: bolder;">Click sobre la imagen para saber mas</h5>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 50px 50px 20px 50px; ">
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 2.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 21.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 22.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 23.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 24.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 25.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 26.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 27.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 28.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 29.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 210.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 211.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 212.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 213.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 214.png" class="card-img-top" alt="...">
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn">
            <img src="../assets/img/Icon Especialidades/Slice 215.png" class="card-img-top" alt="...">
        </button>
    </div>
</div>
<router-outlet>

</router-outlet>